/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}



html, body {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  overflow: overlay;
}



.page-section {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow-x: auto;
}

.page-section.--allow-overflow {
  overflow: initial !important;
}

.page-section .section-content {
  width: 100%;
  max-width: 1232px;
  margin: auto;
  position: relative;
  padding: 64px 32px;
}

.page-section.--full-width .section-content {
  max-width: 100%;
}

.page-section.--no-padding-x .section-content {
  padding-left: 0;
  padding-right: 0;
}

.page-section.--no-padding-y .section-content {
  padding-top: 0;
  padding-bottom: 0;
}

.page-section.--full-height .section-content {
  --app-header-height: 56px; 
  min-height: calc(100vh - var(--app-header-height));
}

.page-section.flex .section-content {
  display: flex;
}

.page-section.flex.--center .section-content {
  align-items: center;
  justify-content: center;
}

.page-section.flex.--row .section-content {
  flex-direction: row;
}

.page-section.flex.--col .section-content {
  flex-direction: column;
}

.section-heading {
  width: 100%;
  padding: 20px 10px 20px 10px;
}

@media (max-width: 768px) {
  .page-section .section-content {
    padding: 16px;
  }

  .mobile-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
}

