.main{
    position: relative;
}
.main-section-wrapper{
    display: flex;
    justify-content: center;
}
.main-section{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 24px 0px;
    align-items: center;    
}
.get-ready-text{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .main-section-wrapper {
        display: flex;
        justify-content: center;
    }

    .main-section {
        gap: 32px; 
        padding: 16px 0; 
    }

    .get-ready-text {
        font-size: 18px; 
        }
}