.blob-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .blob {
    position: absolute;
    width: 345px;
    height: 345px;
    opacity: 0.3;
    border-radius: 50%;
    animation-timing-function: ease-in-out;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    background: rgba(255, 0, 184, 1);
    animation-delay: 1500ms;
    filter: blur(40px);
    box-shadow: 25px 20px 200px 100px rgba(255, 0, 184, 1);
    transition: all 3s;
    transition-timing-function: ease-in-out;
  }
  
  .blob-1 {
    animation-name: light-1-animation;
    top: 0;
    left: 0;

  }
  
  .blob-2 {
    animation-name: light-2-animation;
    top: 100%;
    left: 100%;
    background: rgba(119, 43, 242, 1);
    box-shadow:25px 20px 200px 100px rgba(119, 43, 242, 1);
  }
  
  @keyframes light-1-animation {
    0% {
      top: 0;
      left: 0;
      background: rgba(255, 0, 184, 1);
      box-shadow:25px 20px 200px 100px rgba(255, 0, 184, 1);

    }
    25%{
      top:0;
      left: 90%;
      background: rgba(255, 0, 184, 1);
      box-shadow:25px 20px 200px 100px rgba(255, 0, 184, 1);
    }
    50%{
      top: 80%;
      left: 90%;
      background: rgba(255, 0, 184, 1);
      box-shadow:25px 20px 200px 100px rgba(255, 0, 184, 1);
    }
    100% {
      top: 80%;
      left: 0;      
      background: rgba(255, 0, 184, 1);
      box-shadow:25px 20px 200px 100px rgba(255, 0, 184, 1);

    }
  }
  
  @keyframes light-2-animation {
    0%{
      top: 80%;
      left: 90%;
      background: rgba(119, 43, 242, 1);
      box-shadow:25px 20px 200px 100px rgba(119, 43, 242, 1);
    }
    25% {
      top: 80%;
      left: 0%;
      background: rgba(119, 43, 242, 1);
      box-shadow:25px 20px 200px 100px rgba(119, 43, 242, 1);

    }
    50% {
      top: 0;
      left: 0;
      background: rgba(119, 43, 242, 1);
      box-shadow:25px 20px 200px 100px rgba(119, 43, 242, 1);
    }
    100% {
      top: 0;
      left: 90%;
      background: rgba(119, 43, 242, 1);
      box-shadow:25px 20px 200px 100px rgba(119, 43, 242, 1);


    }
  }
  