.timer-section-wrapper{
    padding: 32px;
    border-radius: 24px;
    background: linear-gradient(99.57deg, #E6B8D9 1%, #C9B8E6 100.1%);
    display: flex;
    gap: 64px;
    align-items: center;
}
.timer-hour,
.timer-minute,
.timer-seconds{
    
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.timer-digits{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    text-align: left;
}
.timer-label{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
@media (max-width: 768px) {
    .timer-section-wrapper {
        padding: 16px;
        border-radius: 12px;
        gap: 32px;
    }

    .timer-hour,
    .timer-minute,
    .timer-seconds {
        padding: 4px;
        gap: 8px;
    }

    .timer-digits {
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
    }

    .timer-label {
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    }
}