.timer-popup{
    display: flex;
    flex-direction: column;
    background: linear-gradient(99.57deg, #E6B8D9 1%, #C9B8E6 100.1%);
    padding:64px;
    border-radius: 24px;
    gap: 72px;
}
.timer-popup-header{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.timer-popup-heading{
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    background: linear-gradient(90deg, #0F0F0F 0.11%, #333 98.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timer-popup-desc{
    color: #333;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;

}
.timer-popup-button{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #0F0F0F;
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
@media (max-width: 768px) {
    .timer-popup {
        display: flex;
        padding: 24px 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        align-self: stretch;
    }
  
    .timer-popup-heading {
      font-size: 24px;
      /* line-height: 48px; */
    }
  
    .timer-popup-desc {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    }
  
    .timer-popup-button {
        display: flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; 
    }
  }